*{
  box-sizing: border-box;
}

:root{
  --color-brown: #926239;
  --color-text-by-brown: white;
}

body {
  color: var(--color-brown);
  line-height: 1.6;
  font-size: 17px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.header {
  background-image: url(../img/beach.jpg);
  background-size: cover;
  background-position: center;
  padding: 33.5vh 0 43.5vh;
  text-align: center;
}

.p-header {
  font-size: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: white;
  border: var(--color-brown) 1px solid;
  color: var(--color-brown);
  border-radius: 10px;
  margin-top: 20px;
}

.button:hover,
.button:focus {
  background-color: var(--color-brown);
  color: var(--color-text-by-brown);
}

.section-block {
  padding: 20px;
}
.section-line {
  display: inline-block;
  max-width: 33%;
  padding: 13px;
}

.font-dark {
  background-color: var(--color-brown);
  color: var(--color-text-by-brown);
}

.font-grey {
  background-color: #f4f4f4;
}

.font-white {
  background-color: #f9f9f9;
}
